<template>
	<div class="container-adapter">	
		<div class="layout-padding">
			<blockquote>
				<h5>
				  Shot
				</h5>
			</blockquote>
			<p class="caption">Change images size</p>
			<q-select
			  type="list"
			  v-model="selectSizeImg"
			  :options="selectOptions"
			></q-select>

			<!-- <div class="row adjust-rows">
				<q-search v-model="search"></q-search>
			</div> -->

			<div class="row adjust_rows pagination-adapter ">
				<q-pagination v-model="pagination" :max="20" @input="listShots()"></q-pagination>
			</div>

			<div class="clear-fix row gutter wrap justify-stretch content-center text-center">
        		<div class="width-1of3 auto" v-for="shot in objShots">
					<div @click="openDetailShot(shot)" class="cursor-indicator">
						<div class="card">
						  <div class="card-title">
						    {{shot.title}}
						  </div>
							<h6><a :href="shot.user.html_url">{{shot.user.username}}</a></h6>
							<div class="card-content">
						    <img :src="shot.images.teaser" v-if="selectSizeImg == 'sm'" />
						    <img :src="shot.images.normal" v-else-if="selectSizeImg == 'me'" />
						    <img :src="shot.images.hidpi" v-else-if="selectSizeImg == 'la'" />

						  </div>
						</div>
					</div>
				</div>
      		</div>

			<div class="row adjust_rows pagination-adapter ">
				<q-pagination v-model="pagination" :max="20"></q-pagination>
			</div>

			<q-modal ref="detailModalShot" :content-css="{minWidth: '80vw', minHeight: '80vh'}">

		      <q-layout>
		      	<div slot="header" class="toolbar">
		          <q-toolbar-title :padding="1">
		            Shot Detail
		          </q-toolbar-title>
		        </div>
		      
		        <div class="layout-view">
		          <div class="layout-padding">
					<div class="rowwrap justify-stretch content-center text-center">
						<div class="width-3of3 auto">
							<div class="card">
							  <div class="item two-lines">
							    <img class="item-primary" :src="objDetailShots.user.avatar_url">
							    <div class="item-content">
							      <div>{{objDetailShots.user.username}}</div>
							    </div>
							  </div>
							  <img :src="objDetailShots.images.normal">
							  <div class="card-content" v-html="objDetailShots.description"></div>
							  <div>
							    <div class="text-primary" @click="likeUnlikeShot()" >
							     <i v-if="objDetailShots.status_like != 1" class="bt-like">favorite_border</i>
							     <i v-if="objDetailShots.status_like == 1" class="bt-like">favorite</i>
							    </div>
							    <div class="auto"></div>
							  </div>
							</div>
						</div>
					</div>
		            <button class="primary" @click="$refs.detailModalShot.close()">Close</button>
		          </div>
		        </div>
		      </q-layout>
		    </q-modal>

		</div>
	</div>
</template>

<script>
	import axios from 'axios'
	import { Loading, Toast } from 'quasar'

	axios.defaults.headers.common = {
      'Authorization': 'Bearer 9285532a9a7a5041e35a73f7fdaa16d44ecb7c36e4cadf1a2936c07de242fe72'
  	};
	export default {
		props:{
			'urlApi': String,
		},
		data () {
			return {
			  search: '',
			  objShots:{},
			  objDetailShots:{
			  	title:'',
			  	html_url:'',
			  	description:'',
			  	status_like:0,
			  	user :{
			  		username:'',
			  		avatar_url:''
			  	},
			  	images:{
			  		normal:''
			  	}
			  },
			  pagination: 1,
			  selectSizeImg: 'sm',
			  selectOptions: [
				  {
				    label: 'Small',
				    value: 'sm'
				  },
				  {
				    label: 'Medium',
				    value: 'me'
				  },
				  {
				    label: 'Large',
				    value: 'la'
				  }
			  ]
			}
		},
		methods:{
			listShots : function(){
				Loading.show();
				axios.get(this.urlApi,
					{
						params: {
				      	page: this.pagination,
				      	per_page:9
			    	}
				})
				  .then((response) => {
				  	//console.log(response);
					this.objShots = response.data;
				    Loading.hide();
				  })
				  .catch(function (error) {
				    Loading.hide();
				    Toast.create.negative(
				      {
				        html:'Ocorreu um erro buscar registros!',
				        timeout: 4000
				      }
				    );
				    //console.log(error);
				 });
			},
			openDetailShot : function(props){
				Loading.show();
				axios.get(this.urlApi+'/'+props.id)
				.then((response) => {
				  	console.log(response);
				  	this.$refs["detailModalShot"].open();
					this.objDetailShots = response.data;
				    setTimeout(() => {
					    Loading.hide()
					  }, 3000);
				  })
				  .catch(function (error) {
				    Loading.hide();
				    Toast.create.negative(
				      {
				        html:'Ocorreu um erro buscar registros!',
				        timeout: 4000
				      }
				    );
				    console.log(error);
				 });
			},
			likeUnlikeShot : function(){
				Toast.create.negative(
			      {
			        html:'Função de like desativada momentaneamente!',
			        timeout: 4000
			      }
			    );
			},
			isLiked : function(idShot){
				
				// axios.get(this.urlApi+'/'+idShot+'/like')
				// .then((response) => {
				//   	console.log(response);
				// 	//this.objDetailShots.status_like = response.data;
				//   })
				//   .catch(function (error) {
				//     Loading.hide();
				//     Toast.create.negative(
				//       {
				//         html:'Ocorreu um erro ao verificar like!',
				//         timeout: 4000
				//       }
				//     );
				//     console.log(error);
				//  });
			}
		},
		mounted(){
			this.listShots()
		}
	}
</script>
<style scoped>
	.adjust-rows{
		margin-top: 15px ;
		margin-bottom: 15px;
	}
	.container-adapter{
		width:100%;
		overflow:auto
	}
	.pagination-adapter{
		float: right;
	}
	.clear-fix{
		clear: both;
	}
	.cursor-indicator{
		cursor: pointer;
	}
	.bt-like{
		font-size: 220%;
	    margin-bottom: 25px;
	    cursor: pointer;
	}
</style>
