<template>
  <div class="layout-padding">
    <q-layout>
      <div slot="header" class="toolbar">
        <q-toolbar-title :padding="1">
          Api Dribbble
        </q-toolbar-title>
      </div>

      <shot :urlApi="urlApi"></shot>

    </q-layout>
  </div>
</template>

<script>
import Shot from '../shot/Shot.vue'

export default {
  components:{
    Shot
  },
  data(){
    return{
      urlApi:'https://api.dribbble.com/v1/shots'
    }
  }
}
</script>
