<template>
  <div class="layout-padding">
    <q-layout>
      <div slot="header" class="toolbar">
        <q-toolbar-title :padding="1">
          Api Dribbble
        </q-toolbar-title>
      </div>


    </q-layout>
  </div>
</template>

<script>
import axios from 'axios'
import { Loading, Toast } from 'quasar'
// axios.defaults.headers.common = {
//   'Authorization': 'Bearer 9285532a9a7a5041e35a73f7fdaa16d44ecb7c36e4cadf1a2936c07de242fe72'
// };

  export default {
    data () {
      return {
        
      }
    },
    methods:{
    },
    mounted(){
      Loading.show();
        axios.get('http://dribbble.com/oauth/authorize',
        {
          params: {
                client_id: 'b8d5852348312ff5d7c8c1a1724fe101bb787c79ba2722cfb0f253e7326e41be',
                redirect_uri: 'http://filipetozze.com.br',
                scope: 'public+write'
              }
        })
          .then((response) => {
            console.log(response);
            Loading.hide();
          })
          .catch(function (error) {
            Loading.hide();
            Toast.create.negative(
              {
                html:'Ocorreu um erro buscar registros!',
                timeout: 4000
              }
            );
            //console.log(error);
         });
    }
  }
</script>